.tela-total{
    -fx-background-color: #303030;
}
.fundo-titulo{
    -fx-background-color: #4646469a;
    -fx-background-radius:8px;
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.76) , 10, 0.0 , 0 , 1 );
}

.menu-lateral{
    -fx-background-color:rgba(255, 0, 0, 0.842);
    -fx-background-radius:8px;
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.76) , 10, 0.0 , 0 , 1 );
}
.sair-da-conta{
    -fx-border-color:rgba(0, 0, 0, 0.836);
    -fx-border-width:0 0 2 0;
}

.botoes-fechar-aba{
    -fx-background-color:rgba(0, 0, 0, 0.966);
    -fx-background-radius: 8px; 
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.76) , 10, 0.0 , 0 , 1 );
}

.exposicao-restaurante{
    -fx-background-color:#f00;
    -fx-background-radius:20 20 0 20;
    -fx-transition: -fx-background-color 0.3s ease-in-out;
}


.info-menu-lateral{  
    -fx-border-color:rgba(26, 26, 26, 0.836);
    -fx-border-width:0 1 2 1;
}

.aba-sacola-produto{
    -fx-background-color:rgb(73, 73, 73);
    -fx-background-radius:8;
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.76) , 10, 0.0 , 0 , 1 );
}

.sacola-compras:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.76) , 10, 0.0 , 0 , 1 );
}

.btt-acessar-db{
    -fx-background-color:rgb(73, 73, 73);
    -fx-background-radius:8;
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.76) , 10, 0.0 , 0 , 1 );
}
.btt-acessar-db:hover{
    -fx-background-color:rgb(41, 40, 40);
}

.painel-de-produtos{
    -fx-background-color:rgba(170, 0, 0, 0.842);
    -fx-background-radius:8px;
}
.produto-padrao{
    -fx-background-color:rgb(0, 0, 0);
    -fx-background-radius:8px;
    -fx-border-color:rgb(255, 255, 255);
    -fx-border-radius:8px;
}
.btt-adicionar-na-sacola{
    -fx-background-color:rgb(0, 26, 255);
    -fx-background-radius:8px;
}
.btt-comprar{
    -fx-background-color:rgb(38, 219, 14);
    -fx-background-radius:8px;
}